
<h2>Все автомобили</h2>
@*<h3>@ViewBag.Category</h3>*@
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.allCars)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@car.Img" alt="@car.Name" />
                <h2>@car.Name</h2>
                <p>@car.ShortDescription</p>
                <p>Цена: @car.Price.ToString("c")</p>@*преобразует в денежный формат*@
                <p><a class="btn btn-warning" href="#">Подробнее</a></p>
            </div>
        }
    }
</div>